@import "../../../scss/variable.scss";

@import "../../../scss/variable.scss";
.promotional {
    color: #808080;
    border: 2px solid #adadad;
    padding: 60px 0px 50px 0px;

    p {
        font-size: 16px;
    }
}

.latest-news {
    color: #808080;
    border: 2px solid #adadad;
    border-left: none;
    padding: 50px 25px;
    font-size: 16px;

    .latest-news-content {
        font-size: $myFontSize13;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .carousel .carousel-indicators button {
        width: 10px;
        height: 0px;
        border-radius: 100%;
        background: #808080;
        border-top: 5px solid #808080;
        border-bottom: 5px solid transparent;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: -23px;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 0;
        margin-left: 15%;
    }

}

.apply-now-btn:hover {
    @include apply-now-btn-hover;
}

.apply-now-btn {
    padding: 5px 30px;
    font-size: 14px;
    border: 2px solid #adadad;
    color: #808080;
    border-radius: $borderRadius0;
}