<div class="container mb-4">
    <div class="row">
        <div class="col-sm-7 m-auto">
            <div class="row">
                <div class="col-sm-8 promotional text-center">
                    <p>Promotional campaign</p>
                    <button type="button" class="btn btn-outline-dark mt-4 btn-lg apply-now-btn">Learn more</button>
                </div>
                <div class="col-sm-4 latest-news text-center">
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        </div>
                        
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <p class="latest-news-head mb-2">Housing Rates & Fees</p>
                            <p class="latest-news-content mb-3">is simply dummy text of the printing and typesetting industry.</p>
                            <button type="button" class="btn btn-outline-dark btn-lg apply-now-btn">Read all</button>
                            </div>
                            <div class="carousel-item">
                            <p class="latest-news-head mb-2">Savings</p>
                            <p class="latest-news-content mb-3">is simply dummy text of the printing and typesetting industry.</p>
                            <button type="button" class="btn btn-outline-dark btn-lg apply-now-btn">Read all</button>
                            </div>
                            <div class="carousel-item">
                            <p class="latest-news-head mb-2">Contact us</p>
                            <p class="latest-news-content mb-3">is simply dummy text of the printing and typesetting industry.</p>
                            <button type="button" class="btn btn-outline-dark btn-lg apply-now-btn">Read all</button>
                            </div>
                        </div>
                        
                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


