
<div class="container mb-1 pb-3">
    <div class="row">
        <div class="col-sm-12 col-md-7 m-auto">
            <h4 class="text-center mb-4">Banking with friends (community section)</h4>
        </div>
        
    </div>

    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-7 m-auto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 communit-aside1 me-2">
                    <div class="row">
                        <div class="col-12 col-sm-12 community-section text-center">
                            <p class="community-head mb-3">Featured sponsorship story</p>
                            <p class="community-content mb-4">is simply dummy text of the printing and typesetting industry. is simply dummy text of the printing and typesetting industry.</p>
                            <button type="button" class="btn btn-outline-dark btn-lg apply-now-btn">Learn more</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 community-section community-support-bg mt-3 d-flex align-items-center justify-content-center me-3">
                            <p class="community-head-bg mb-3">Social feed</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 community-section community-support mt-3 text-center">
                            <p class="community-head mb-3">Need a sponsor for your community project?</p>
                            <button type="button" class="btn btn-outline-dark btn-lg apply-now-btn">Apply for Community Support</button>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-sm-4 testimonial-section text-center communit-aside2">
                    <p class="community-head-bg mb-3">Client testimonial</p>
                    <p class="community-content mb-4">is simply dummy text of the printing and typesetting industry. is simply dummy text of the printing and typesetting industry.</p>
                    <button type="button" class="btn btn-outline-dark btn-lg apply-now-btn">Watch Simon's story</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
