<div class="container-fluid">
    <div class="row header-section">
        <div class="col-12 col-sm-12 col-md-4 col-lg-1 logo-section">
            <img src="assets/img/logo.jpg" alt="logo" title="logo" />
        </div>
        <div class="col-sm-12 col-lg-11">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <ul class="nav justify-content-end header-1">
                      <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">BSB 802 126</a>
                      </li>
                      <li class="nav-item eStatement-login">
                        <a class="nav-link" href="javascript:void(0)"><span class="glyphicon glyphicon-lock me-2"></span>eStatement Login</a>
                      </li>
                      <li class="nav-item internet-banking">
                        <a class="nav-link" href="javascript:void(0)"><span class="glyphicon glyphicon-lock me-2"></span>Internet Banking</a>
                      </li>
                  </ul>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav justify-content-end header-2">
                        <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)">Loans</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)">Banking</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)">Why Macquarie?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)"><i class="bi bi-search"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



