<div class="container sitemap-section mb-4">
    <div class="row">
        <div class="col-sm-7 m-auto">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <p>Sitemap <i class="bi bi-chevron-compact-up"></i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 p-0">
                    <p class="mb-1 text-uppercase">Products</p>
                    <ul class="sitemap-link p-0">
                        <li>Sit amet</li>
                        <li>Nominavi placerat sea</li>
                        <li>urbanitas</li>
                        <li>Pri ad Mundi</li>
                        <li>Dissentlunt duo tetation</li>
                    </ul>
                </div>
                <div class="col-sm-3 p-0">
                    <p class="mb-1 text-uppercase">Tools & Calculators</p>
                    <ul class="sitemap-link p-0">
                        <li>Sit amet</li>
                        <li>Nominavi placerat sea</li>
                        <li>urbanitas</li>
                        <li>Pri ad Mundi</li>
                        <li>Dissentlunt duo tetation</li>
                        <li>urbanitas</li>
                        <li>Pri ad Mundi</li>
                        <li>Dissentlunt duo tetation</li>
                    </ul>
                </div>
                <div class="col-sm-3 p-0">
                    <p class="mb-1 text-uppercase">Legal Stuff</p>
                    <ul class="sitemap-link p-0">
                        <li>Sit amet</li>
                        <li>Nominavi placerat sea</li>
                        <li>urbanitas</li>
                        <li>Pri ad Mundi</li>
                        <li>Dissentlunt duo tetation</li>
                    </ul>
                </div>
                <div class="col-sm-3 p-0">
                    <p class="mb-1 text-uppercase">Useful Links</p>
                    <ul class="sitemap-link p-0">
                        <li>Sit amet</li>
                        <li>Nominavi placerat sea</li>
                        <li>urbanitas</li>
                        <li>Pri ad Mundi</li>
                        <li>urbanitas</li>
                        <li>Pri ad Mundi</li>
                        <li>Dissentlunt duo tetation</li>
                        <li>Dissentlunt duo tetation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
