<div class="container-fluid footer-section">
    <div class="row">
        <div class="col-sm-6 m-auto p-0">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12 icon-section mt-3">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-telephone-fill"></i>
                        </div>
                        <div class="col-sm-12">
                            <ul class="footer-menu p-0 mt-1 mb-1">
                                <li>Privacy &nbsp; | &nbsp;</li>
                                <li>Security &nbsp; | &nbsp;</li>
                                <li>Disclosure Documents &nbsp; | &nbsp;</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                        <div class="col-sm-12 mt-3 mb-1">
                            <p>is simply dummy text of the printing and typesetting industry. is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="col-sm-12 mt-5">
                            <img src="assets/img/footer-logo.png" alt="logo" title="logo" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <form class="row row-cols-lg-auto g-2 align-items-center mb-4">
                        <div class="col-sm-12">
                            <p class="mb-0 mt-4 get-in-touch">Get in touch</p>
                        </div>
                        <div class="col-sm-12">
                            <label class="visually-hidden" for="inlineFormInputGroupUsername">Name</label>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Name">
                        </div>
                        <div class="col-sm-12">
                            <label class="visually-hidden" for="inlineFormInputGroupUseremail">Email</label>
                            <input type="text" class="form-control" id="inlineFormInputGroupUseremail" placeholder="Email">
                        </div>
                        <div class="col-sm-12">
                            <label class="visually-hidden" for="inlineFormInputGroupUsercomments">Comments</label>
                            <textarea type="text" class="form-control" id="inlineFormInputGroupUsercomments" placeholder="Comments"></textarea>
                        </div> 
                        <div class="col-sm-12 d-grid frm-btn-section">
                            <button type="button" class="btn btn-outline-dark mt-2 btn-lg btn-block apply-now-btn d-block">Submit</button>
                          </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>