<div class="container-fluid banner-section">
    <div class="row">
        <div class="col-sm-6 m-auto">
            <h1 class="head-1">Special Housing</h1>
            <h1 class="head-1">Home Loan</h1>
            <h3 class="mt-1 head-2">3.89<sup>%p.a.</sup> 4.03<sup>%p.a.</sup></h3>
            <h4 class="mt-1 head-3 mb-4">Great low rates made simple</h4>
            <button type="button" class="btn btn-outline-dark mt-4 btn-lg apply-now-btn">Apply now</button>
        </div>
    </div>
</div>