<div class="container-fluid service-section mb-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 m-auto">
                <div class="row">
                    <div class="col-3 col-sm-2 text-center">
                        <i class="bi bi-house-fill"></i>
                        <p class="mt-1">Home Loans</p>
                    </div>
            
                    <div class="col-3 col-sm-2 text-center">
                        <i class="bi bi-calculator"></i>
                        <p class="mt-1">Calculators</p>
                    </div>
            
                    <div class="col-3 col-sm-2 text-center">
                        <i class="bi bi-graph-up-arrow"></i>
                        <p class="mt-1">Rates & Fees</p>
                    </div>
            
                    <div class="col-3 col-sm-2 text-center">
                        <i class="bi bi-database-add"></i>
                        <p class="mt-1">Savings</p>
                    </div>
            
                    <div class="col-3 col-sm-2 text-center">
                        <i class="bi bi-dribbble"></i>
                        <p class="mt-1">Insurance</p>
                    </div>
            
                    <div class="col-3 col-sm-2 text-center">
                        <i class="bi bi-telephone-fill"></i>
                        <p class="mt-1">Contact us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>